#filename:%input|>kebab-case
#folder:%filename|>kebab-case
#className:%input|>pascal-case
#ext:repository.ts

import type { %classNameInterface } from "./%filename.interface";

export class %classNameRepository implements %classNameInterface {}


#split
#ext:interface.ts
export interface %classNameInterface {}
